
<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="dashboard-header">
				<%= render 'partials/admin_dashboard_header' %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">

	<div class="page-wrap">

			<div class="row">
				<div class="col-md-11">
					<h1 class="dashboard-team-name">8U Skeeters</h1>
				</div>
				<div class="col-md-1">
					
				</div>
			</div>

			<%= render "admin/dashboard_main_menu" %>
			<div class="tab-content">
				<%= render "admin/upcoming_events" %>
			</div>


	</div>

		</div>
	</div>
</div>