<div class="alt-header">
  <div class="row-fluid">
    <div class="span6">
      <ul class="inline header-nav">
        <li><h4 class="logo">BOGO<span class="white">FY</span></h4></li>
        <li><h4><%= link_to "Tour", root_path, class: "header-link" %></h4></li>
        <li><h4><%= link_to "Blog", root_path, class: "header-link" %></h4></li>
        <li><h4><%= link_to "About", root_path, class: "header-link" %></h4></li>
      </ul>
    </div>
    <div class="span6">
      <h4 class="white pull-right light">
        <%= link_to "Logout", signout_path, class: "green-link" %>
      </h4>
    </div>
  </div>
</div>