<!DOCTYPE html>
<html>
<head>
  <title>Bogoapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
   $(document).ready(function() {
      $(".text").linker({
   			target: '_blank', //blank,self,parent,top 
   			className : 'green-link', 
   			rel : '' 
			});
   });
</script>
 
</head>
<body>

<%= yield %>

</body>
</html>
